@import url("./transition.css");

/* #app {
  height: 100vh;
} */

.mbm-1 {
  margin-bottom: -10px;
}

.mbm-2 {
  margin-bottom: -20px;
}

.mbm-3 {
  margin-bottom: -30px;
}

.mbm-4 {
  margin-bottom: -40px;
}

.mbm-5 {
  margin-bottom: -50px;
}

.mbm-6 {
  margin-bottom: -60px;
}

.child-mbm-1>* {
  margin-bottom: -10px;
}

.child-mbm-2>* {
  margin-bottom: -20px;
}

.child-mbm-3>* {
  margin-bottom: -30px;
}

.child-mbm-4>* {
  margin-bottom: -40px;
}

.mtm-1 {
  margin-top: -10px;
}

.mtm-2 {
  margin-top: -20px;
}

.mtm-3 {
  margin-top: -30px;
}

.mtm-4 {
  margin-top: -40px;
}

.mtm-5 {
  margin-top: -50px;
}

.mtm-6 {
  margin-top: -60px;
}

.child-mtm-1>* {
  margin-top: -10px;
}

.child-mtm-2>* {
  margin-top: -20px;
}

.text-bold {
  font-weight: bold !important;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.gap-3 {
  gap: 15px;
}

.select-none {
  user-select: none;
}

.main-container {
  margin: 10px;
}

.gutters-1>[class*=v-col-] {
  padding: 4px;
}

.gutters-2>[class*=v-col-] {
  padding: 8px;
}

.gutters-3>[class*=v-col-] {
  padding: 12px;
}